<div class="address" [formGroup]="addressForm" >

  <p align="middle">
        <mat-form-field>
      <input type="text" matInput formControlName="addrLn1" placeholder="Address Line 1" name="addrLn1"  id="addrLn1" required>
  </mat-form-field>
  </p>
  <p align="middle">
      <mat-form-field>
    <input type="text" matInput formControlName="addrLn2" placeholder="Address Line 2" name="addrLn2"  id="addrLn2" >
</mat-form-field>
</p>
<p align="middle">
    <mat-form-field>
  <input type="text" matInput formControlName="cityNm" placeholder="City" name="cityNm"  id="cityNm" required>
</mat-form-field>
</p>
<p align="middle">
    <mat-form-field>
        <mat-select formControlName="stateCd" placeholder="State" required>
          <mat-option *ngFor="let stateCd of states" value="stateCd">{{stateCd}}</mat-option>
        </mat-select>
</mat-form-field>
</p>
<p align="middle">
    <mat-form-field>
  <input type="text" matInput formControlName="zipCd" placeholder="Zip" name="zipCd"  id="zipCd" required>
</mat-form-field>
</p>
<p align="middle">
  <mat-form-field>
<input type="text" matInput formControlName="phone" placeholder="Phone" name="phone"  id="phone" >
</mat-form-field>
</p>
</div>
