<div class="jumbotron"  >
  <div class="container  login-main" >
      <div> <alert></alert></div>
<mat-card class="adminLoginCardBG">
    <mat-card-header>
    <mat-card-title>Sign up to Sell with Us</mat-card-title>
    </mat-card-header>
    <!--<mat-card-content fxLayout="row" >-->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
  <app-register [group]="registerForm"  ></app-register>
<mat-card-header>
  <mat-card-title>Seller's Address</mat-card-title>
  </mat-card-header>
<p align="middle">
    <mat-form-field>
  <input type="text" matInput formControlName="bussinessNm" placeholder="Bussiness Name" name="bussinessNm"  id="bussinessNm" required>
</mat-form-field></p>
<p align="middle">
 <mat-form-field>
  <input type="text" matInput formControlName="firstName" placeholder="First Name" name="firstName"  id="firstName" required>
</mat-form-field></p>
<p align="middle">
<mat-form-field>
  <input type="text" matInput formControlName="middleName" placeholder="Middle Name" name="middleName"  id="middleName" required>
</mat-form-field></p>
<p align="middle">
<mat-form-field>
  <input type="text" matInput formControlName="lastName" placeholder="Last Name" name="lastName"  id="lastName" required>
</mat-form-field>
</p>

<app-address [group]="registerForm.controls.address"  ></app-address>

  <mat-card-actions align="middle">
  <button type="submit"  mat-raised-button>Register</button>
  <button (click)="goToLoginPage()" mat-raised-button>Cancel</button>
  </mat-card-actions>


</form>
<!--</mat-card-content>-->
</mat-card>
</div>
</div>
